ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	width: 200px;
	background-color: #f1f1f1
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

p {
    color: black;
	background-color: white;
	width: 200px;
}

a {
    color: blue;
}

body {
    font-size: 14px;
    color: red;
	background-image: url("images/pat.jpg");
	background-repeat: no-repeat center center fixed;
	background-size: cover;
}
