ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
	display: block;
	width: 130px;
	background-color: #dddddd;
	padding: 8px 16px;
}

li a :hover {
	background-color: #555;
	color: white;
}

p {
    color: black;
	background-color: white;
	width: 200px;
}

a {
    color: blue;
}
body {
    font-size: 14px;
    color: red;
	background-image: url("images/bg.gif");
	background-repeat: no-repeat center center fixed;
	background-size: cover;
}
