ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	width: 200px;
	background-color: #f1f1f1
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	text-align:center
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

img {
    display: block;
    margin: 0 auto;
}

p1 {
    color: green;
	background: white;
	width: 200px;
	text-align: center;
}

a {
    color: blue;
}

body {
    font-size: 14px;
    color: black;
	background-color: white;
	background-image: url("images/pat.jpg");
	background-repeat: no-repeat top center fixed;
	background-size: cover;
	text-align: center;
}

